body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background-image: url('/static/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.winner {
    font-family:'Courier New', Courier, monospace;
    font-size:x-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    color:white;
    border: 2px solid white;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}



.treasurechest{
    position:absolute;
    bottom: 0;
    left: 0;
}

.treasurechest img {
    width: 300px;
    height: 300px;
}