body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

header {
  background-color: #111;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.nav-btn:hover {
  background-color: #ccc;
}

main {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.section-img {
  max-width: 500px;
  height: auto;
  transition: transform 0.3s ease;
}

.section-img:hover {
  transform: scale(1.05);
}

.game-scene {
  position: relative;
  width: 600px;
  height: 500px;
  margin-top: 50px;
  max-width: 90%;
}





.astronaut {
  position: absolute;
  width: 700px;
  height: auto;
  bottom: -40px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  overflow: hidden; 
}

.planet {
  position: absolute;
  width: 850px;
  height: 500px;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  overflow: hidden; 
}

.space-textbox {
  position: absolute;
  width: 450px;
  height: 250px;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  max-width: 100%;
   overflow: hidden; 
}




.game-title { 
  position: absolute;
  width: 360px;
  height: 180px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  max-width: 100%;
   overflow: hidden; 
}



.play-game-link {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  transition: transform 0.3s ease;
}

.play-game-link:hover {
  transform: translateX(-50%) scale(1.05);
}

.play-game-btn {
  width: 600px;
  height: auto;
  max-width: 90%;
}
